<mat-toolbar [color]="themeService.getTheme()">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}} Category</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content>
    <form [formGroup]="categoryForm">
        <div fxFlex fxLayout="column">
            <div fxFlex="row wrap">
                <mat-form-field appearance="outline" fxFlex [color]="themeService.getTheme()">
                    <mat-label>Category</mat-label>
                    <input matInput formControlName="name" required name>
                    <mat-error *ngIf="categoryForm.controls['name'].hasError('required')">Please enter your
                        category.</mat-error>
                </mat-form-field>
            </div>

        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button [color]="themeService.getTheme()" type="submit" (click)="handleSubmit()" [disabled]="!(categoryForm.valid && categoryForm.dirty)">{{action}}</button>
    <button mat-raised-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>